.appointment {
  color: #18a0fb;
  margin-left: 16px;
  margin-right: 20px;
}
.second-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.second-nav h1 {
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
}
.second-nav select {
  width: 6em;
  font-size: 0.9rem;
  height: 1.9em;
  border-radius: 8px;
  margin-right: 20px;
  border: 1px solid #9ea9aa;
  color: #9ea9aa;
}
.appoint-day {
  display: flex;
  justify-content: space-between;
}
.appoint-day div {
  width: 13%;
  aspect-ratio: 3/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  color: black;
}
.date div {
  border-radius: 8px;
  width: 13%;
  aspect-ratio: 3/1;
  background-color: #f2f5f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.date .active {
  background-color: #18a0fb;
  color: white;
}
.appointment .appoint-footer {
  color: #25292a;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
}

.appointment .appoint-footer > div {
  border: 1px solid #eaeaea;
  padding: 15px;
  border-radius: 10px;
  width: 353px;
  height: 208px;
}
.appointment .appoint-footer .name-photo-patient {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.appointment .appoint-footer .name-photo-patient img {
  width: 40px;
}
.appointment .appoint-footer .call-calender-time-icons {
  width: 18px;
  aspect-ratio: 1/1;
}
.appointment .appoint-footer .date-time {
  display: flex;
  font-size: 14px;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}
.appointment .appoint-footer .date-time-date {
  display: flex;
  gap: 5px;
}
.appointment .appoint-footer .date-time-time {
  display: flex;
  gap: 5px;
}
.appointment .appoint-footer .patient-phone {
  display: flex;
  gap: 5px;
  margin: 10px 0px;
}
.appointment .appoint-footer .patient-comment {
  color: #8d9a9b;
  margin-bottom: 10px;
}
.appointment .appoint-footer .confirm-decline {
  display: flex;
  gap: 6px;
}

.appointment .appoint-footer .confirm-decline button {
  width: 81px;
  height: 32px;
  border-radius: 8px;
  border: 1.3px solid #18a0fb;
  background-color: transparent;
  color: #18a0fb;
  font-weight: 600;
  cursor: pointer;
}
.appointment .appoint-footer .confirm-decline button.confirm {
  color: white;
  background-color: #18a0fb;
}
.appointment .appoint-footer > div:hover {
  cursor: pointer;
}
.appointment .appoint-footer > div.active-patient {
  border-top: 2px solid #18a0fb;
}
